node_modules/
www/app.bundle.js
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
android/*.iml
android/.idea/
*.keystore
*.jks
keystore/
keystore.properties
dist/
*.apk
*.aab
.DS_Store
