.env
/node_modules/
NDA.pdf
*.swp
analytics/
assembly/dist/
assembly/node_modules/
/backend/.env
backend/analytics/
/backend/telegram_bots/.env
/backend/telegram_bots/meme-bot/.env
backend/telegram_bots/**/node_modules/
backend/promocodes/promo-cron.log
frontend/analytics/
chat_stats.json
user_warns.json