<div id="cookie-consent" class="cookie-consent">                                                                                                                                         {# Баннер согласия на cookie #}
  <p>{{ cookieNotice | safe }}</p>                                                                                                                                                           {# Текст уведомления (HTML разрешён) #}
  <button id="accept-cookies" class="cookie-button">{{ acceptLabel }}</button>                                                                                                           {# Кнопка согласия #}
  <button id="decline-cookies" class="cookie-button">{{ declineLabel }}</button>                                                                                                         {# Кнопка отказа #}
</div>                                                                                                                                                                                       {# Конец cookie‑баннера #}
