<div id="cookie-consent" class="cookie-consent">
  <p>{{ cookieNotice | safe }}</p>
  <button id="accept-cookies" class="cookie-button">{{ acceptLabel }}</button>
  <button id="decline-cookies" class="cookie-button">{{ declineLabel }}</button>
</div>