<div class="news-container" id="news-container">                                                                                                                                         
  <h1>{{ heading }}</h1>                                                                                                                                                                     
  {% if subheading %}                                                                                                                                                                        
    <p style="text-align: center;">{{ subheading }}</p>                                                                                                                                   
  {% endif %}
</div>     