{% set currentUrl = canonical or (site.baseUrl + page.url) %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, height=device-height, minimum-scale=0.5, initial-scale=1, maximum-scale=3, user-scalable=yes">

<title>{{ title }}</title>
<meta name="description" content="{{ description }}">

{% if alternates %}
  {% for alt in alternates %}
    <link rel="alternate" href="{{ alt.url }}" hreflang="{{ alt.lang }}" />
  {% endfor %}
{% endif %}
{% if xdefault %}<link rel="alternate" href="{{ xdefault }}" hreflang="x-default" />{% endif %}

{% if canonical %}<link rel="canonical" href="{{ canonical }}">{% endif %}

<meta property="og:title" content="{{ ogTitle or title }}" />
<meta property="og:description" content="{{ ogDescription or description }}" />
<meta property="og:image" content="{{ ogImage or (site.baseUrl + '/frontend/images/Banner_Serpmonn.png') }}" />
<meta property="og:url" content="{{ currentUrl }}" />
<meta property="og:type" content="website" />

<link rel="icon" href="/frontend/images/serpmonn.ico" type="image/x-icon">
<link rel="manifest" href="/frontend/pwa/manifest.json">

<link rel="stylesheet" href="/frontend/styles/styles.css">
