	@keyframes move {							/* Анимация движения врагов по игровому полю */
	    0% { top: 0; left: 0; } 						/* Начальная позиция */
	    25% { top: 50%; left: 90%; } 					/* В середине экрана справа */
	    50% { top: 90%; left: 50%; } 					/* Внизу экрана по центру */
	    75% { top: 50%; left: 0; } 						/* В середине экрана слева */
	    100% { top: 0; left: 0; } 						/* Возвращаемся в начало */
	}

