---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "{% if locale == 'ru' %}/frontend/poleznoe/buy.html{% else %}/frontend/{{ locale }}/poleznoe/buy.html{% endif %}"
eleventyComputed:
  dir: "{% if rtlLocales.indexOf(locale) != -1 %}rtl{% else %}ltr{% endif %}"
  title: "{{ poleznoe[locale].scenarios.buy.title }} | Serpmonn"
  description: "{{ poleznoe[locale].scenarios.buy.lead }}"
  canonical: "{% if locale == 'ru' %}{{ site.baseUrl }}/frontend/poleznoe/buy.html{% else %}{{ site.baseUrl }}/frontend/{{ locale }}/poleznoe/buy.html{% endif %}"
scenarioKey: buy
---
{% include "partials/poleznoe-scenario.njk" %}
