.lang-selector-container {
    position: relative;
    background: transparent;
    padding: 0;
    border-radius: 6px;
    margin: 0;
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
}
.lang-selector {
    width: auto;
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 14px;
    max-width: 100%;
}

@media (max-width: 768px) {
	.lang-selector-container {
		margin-top: 4px;
	}
	.lang-selector {
		font-size: 14px;
		padding: 6px 8px;
		max-width: 100%;
	}
}