#login-register-btn {                                                                             /* Стили для кнопки "Регистрация/Вход" */
    position: fixed;
    top: 10px;
    right: 65px;                                                                                  /* Немного левее кнопки меню */
    background-color: rgba(255, 255, 255, 0.9);                                                 /* Цвет фона */
    color: #000000;                                                                             /* Белый цвет текста */
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 24px;
    font-weight: bold;                                                                            /* Толстый текст */
    border-radius: 10px;
    transition: width 0.3s;
    z-index: 10000;                                                                               /* Высокий z-index для отображения поверх всех элементов */
    text-decoration: none;                                                                        /* Убирает подчеркивание текста */                                                                              
}

#login-register-btn:hover {
    background-color: #f0f0f0;                                                                  /* Цвет фона при наведении */
    color: black;                                                                               /* Цвет текста при наведении */
}