@import url('base.css');                                               	/* Сброс стилей */

@import url('news.css'); 												/* Новости */
		
@import url('cookie.css');                                              /* Куки */
		
@import url('ad.css');                                                  /* Рекламный контейнер */

@import url('search2.css');                                             /* Поиск */

@import url('media.css');                                               /* Медиа запросы */

@import url('background.css');                                          /* Фон */

@import url('main2.css');                                           	/* Основные (ссылки, прокрутка, заголовки, шрифты) */

@import url('menu.css');                                                /* Меню */