body {                                                             /* Общие стили */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header, footer {
    background-color: #222;
    color: white;
    padding: 5px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.about-section {                                                    /* Стили для основного контента */
    padding: 20px;
    margin: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    font-size: 24px;
    color: #000;
}

p {
    font-size: 16px;
    color: #777;
}

a {
    color: inherit;                                                /* Наследуем цвет ссылки от родительского элемента */
    text-decoration: none;
}

a:hover {
    color: #999;                                                 /* Цвет ссылки при наведении */
    text-decoration: underline;                                    /* Подчеркивание ссылки при наведении */
}

a:active, a:visited {
    color: #f47059;                                              /* Цвет для активных и посещенных ссылок */
}

section:not(:last-child) {                                         /* Разделение между секциями */
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

footer {                                                           /* Стили для футера */
    font-size: 14px;
    margin-top: 40px;
}

.footer-link {
    font-size: 14px;
}

footer a {                                                         /* Дополнительные стили */
    color: inherit;                                                /* Наследуем цвет ссылки от родительского элемента */
    text-decoration: underline;                                    /* Подчёркивает ссылку */
}

footer a:hover {
    color: #dbdbdb;                                                 /* Цвет ссылки при наведении */
}

@media (max-width: 600px) { 
    .menu-container {
        max-width: 75%;
    }
}
