		.ad-container {
                    display: flex;                                                      /* Отображение баннеров внутри контейнера */
                    justify-content: center;                                            /* Выравнивание по горизонтали */
                    align-items: center;                                                /* Выравнивание по вертикали */
                    flex-wrap: wrap;                                                    /* Чтобы элементы переносились на новую строку при необходимости */
                    position: relative;                                                 /* Относительное позиционирование */
                    width: 80%;                                                         /* Ширина контейнера */
                    height: auto;                                                       /* Высота контейнера */
                    text-align: center;							/* Выравнивает текст (или другие строчные элементы) по центру горизонтально внутри родительского элемента. */
                    background-color: rgba(255, 255, 255, 0.0);                         /* Полупрозрачный фон для читаемо> */
                    border-radius: 10px;                                                /* Радиус границы */
                    padding: 3%;                                                        /* Отступы внутри контейнера */
                    margin-bottom: 1%;                                                  /* Отступ снизу */
                    overflow: visible;							/* Позволяет содержимому элемента выходить за его пределы и быть видимым */
                    gap: 10px;                                                          /* Расстояние между баннерами */
                }
