.puzzle-piece {
    position: absolute;							/* Позиционирует элемент относительно его ближайшего родителя с относительным позиционированием */
    background-size: cover;						/* Растягивает фоновое изображение так, чтобы оно полностью покрывало элемент, сохраняя пропорции */
    background-position: center;					/* Центрирует фоновое изображение внутри элемента */
    opacity: 0;								/* Делает элемент полностью прозрачным */
    transition: opacity 1s ease-in-out;					/* Плавно изменяет прозрачность элемента за 1 секунду, используя плавное начало и завершение анимации */
    z-index: -1;                                                        /* Устанавливаем z-index ниже остальных элементов */
}