.cookie-consent {                                                       /* Стили кук */
    display: none;                                                      /* Скрываем элемент по умолчанию */
    position: fixed;                                                    /* Позиция */
    bottom: 0;
    left: 0;
    width: 100%;                                                        /* Ширина */
    background-color: rgba(0, 0, 0, 0.7);                               /* Полупрозрачный черный фон */
    color: white;
    text-align: center;
    padding: 0.5%;
    z-index: 100;                                                       /* Сниженный z-index, но выше основного контента */
}

.cookie-consent p {
    font-size: 12px;                                                    /* Увеличенный размер шрифта */
}

.cookie-button {                                                        /* Стили кнопки кук */
    background-color: black;                                            /* Фон кнопки */
    color: white;
    border: none;
    font-size: 12px;                                                    /* Увеличиваем размер шрифта до 18 пикселей */
    padding: 10px 20px;
    margin: 10px auto;                                                  /* Центрирование кнопки по горизонтали */
    cursor: pointer;
    border-radius: 8px;                                                 /* Скругленные углы */
}

.cookie-button:hover {                                                  /* Эффект при наведении на кнопку */
    background-color: #333333;                                          /* Немного светлее чёрного */
    transform: scale(1.05);                                             /* Легкое увеличение кнопки при наведении */
}

.cookie-button:active {                                                 /* Эффект при нажатии */
    background-color: #111111;                                          /* Более тёмный цвет при нажатии */
    transform: scale(0.95);                                             /* Легкое уменьшение кнопки при нажатии */
}

a {
    text-decoration: underline;
}