		html, body {
		    margin: 0;                                                     /* Убираем отступы */
		    padding: 0;                                                    /* Убираем внутренние отступы */
		    height: 100%;                                                  /* Высота 100% от родителя */
		    width: 100%;                                                   /* Ширина 100% от родителя */
		    font-family: Arial, sans-serif;                                /* Шрифт для текста */
		    display: flex;                                                 /* Используем флекс-контейнер для гибкой верстки */
		    justify-content: space-between;                                /* Выравнивание элементов по горизонтали */
		    align-items: center;                                           /* Выравнивание элементов по вертикали */
		    flex-direction: column;                                        /* Направление элементов по вертикали */
		    overflow: auto;                                                /* Включаем прокрутку */
		    -ms-overflow-style: none;                                      /* Для Internet Explorer и Edge */
		    scrollbar-width: thin;                                         /* Для Firefox — узкая полоса прокрутки */
		    box-sizing: border-box;                                        /* Учитываем padding и border в размерах элемента */
		}

		body::-webkit-scrollbar {
		    width: 12px;                                                   /* Устанавливаем ширину полосы прокрутки */
		}

		body::-webkit-scrollbar-track {
		    background: #f1f1f1;                                           /* Цвет фона полосы прокрутки */
		}

		body::-webkit-scrollbar-thumb {
		    background: #888;                                              /* Цвет самой полосы прокрутки */
		}

		body:hover::-webkit-scrollbar-thumb {
		    background: #555;                                              /* Цвет полосы при наведении */
		}

		h1 {
		    text-align: center;                                            /* Выравнивание заголовка по центру */
		    font-size: 20px;                                               /* Размер шрифта */
		    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);                   /* Тень для текста */
		}

		a {
		    color: inherit;                                                /* Наследуем цвет ссылки от родительского элемента */
		}

		a:hover {
		    color: #888888;                                                /* Цвет ссылки при наведении */
		    text-decoration: underline;                                    /* Подчеркивание ссылки при наведении */
		}

		a:active, a:visited {
		    color: red;                                                    /* Цвет для активных и посещенных ссылок */
		}

