		@media (max-width: 600px) {                                                 /* Медиазапрос для мобильных устройств */
                    .news-container {                                                       /* Новостной контейнер */
                        margin-top: 16%;                                                    /* Отступ сверху */
			width: 90%;	                                                    /* Ширина контейнера */
                    }

                    .ad-container {							    /* Рекламный контейнер */
                        display: flex;                                                      /* Отображение баннеров внутри контейнера */
                        justify-content: center;                                            /* Выравнивание по горизонтали */
                        align-items: center;                                                /* Выравнивание по вертикали */
                        flex-wrap: wrap;                                                    /* Чтобы элементы переносились на новую строку при необходимости */
                        position: relative;                                                 /* Относительное позиционирование */
                        width: auto;                                                        /* Ширина контейнера */
                        height: auto;                                                       /* Высота контейнера */
                        text-align: center;						    /* Выравнивает текст или строчные элементы по центру внутри родительского блока*/
                        background-color: rgba(255, 255, 255, 0.0);                         /* Полупрозрачный фон для читаемости */
                        border-radius: 10px;                                                /* Радиус границы */
                        padding: 3%;                                                        /* Отступы внутри контейнера */
                        margin-bottom: 1%;                                                  /* Отступ снизу */
                        overflow: visible;						    /* Позволяет содержимому элемента выходить за его пределы и быть видимым, не скрывая лишнее */
                        gap: 10px;                                                          /* Расстояние между баннерами */
                    }
                }
