		.menu-button {
                    position: fixed;
                    top: 10px;
                    right: 10px;
                    background-color: rgba(255, 255, 255, 0.9);
                    color: #fff;
                    padding: 10px;
                    cursor: pointer;
                    border: none;
                    font-size: 24px;
                    font-weight: bold;                                                  /* Толстый текст */
                    border-radius: 10px;
                    transition: width 0.3s;
                    z-index: 10000;                                                     /* Высокий z-index для отображения поверх всех элементов */
                }

                .menu-button span.s {
                    color: red;
                }

                .menu-button span.n {
                    color: black;
                }

                .menu-container {
                    display: none;
                    position: fixed;
                    top: 50px;
                    right: 10px;
                    background-color: rgba(255, 255, 255, 0.8);
                    border: 1px solid #ccc;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    padding: 10px;
                    z-index: 10000;                                                     /* Высокий z-index для отображения поверх всех элементов */
                    border-radius: 10px;
                }

                .menu-container a {
                    display: block;
                    padding: 10px;
                    color: #333;
                    text-decoration: none;
                    border-radius: 5px;
                    font-weight: bold;                                                  /* Толстый текст */
                }

                .menu-container a:hover {
                    background-color: #f0f0f0;						/* Цвет кнопки при наведении (светло-серый) */
                }

                .submenu-container {
                    display: none;
                    padding-left: 20px;
                }

                .icon {
                    display: inline-block;                                              /* Устанавливает элемент как встроенный блок */
                    width: 24px;                                                        /* Задает ширину элемента 24 пикселя */
                    height: 24px;                                                       /* Задает высоту элемента 24 пикселя */
                    margin-right: 10px;                                                 /* Добавляет отступ справа от элемента, 10 пикселей */
                    vertical-align: middle;                                             /* Выравнивает элемент по вертикали по середине относительно соседних строковых элементов */
                    border-radius: 50%;                                                 /* Делает изображения круглыми */
                }
