		.news-container {
		    margin-top: 1%;                                                     /* Отступ сверху от родительского элемента */
		    width: auto;                                                        /* Ширина контейнера */
		    min-height: 33%;                                                    /* Минимальная высота контейнера */
		    max-height: 50%;                                                    /* Максимальная высота контейнера */
		    height: auto;                                                       /* Высота контейнера автоматически адаптируется */
		    text-align: justify;                                                /* Выравнивание текста по ширине */
		    position: relative;                                                 /* Относительное позиционирование для использования псевдо-элементов или абсолютного позиционирования внутри */
		    background-color: rgba(255, 255, 255, 0.8);                       /* Полупрозрачный белый фон для улучшенной читаемости */
		    border-radius: 10px;                                                /* Скругленные углы контейнера */
		    padding: 3%;                                                        /* Отступы внутри контейнера */
		    margin-left: auto; 													/* Центрирование слева */
		    margin-right: auto; 												/* Центрирование справа */
			transition: all 0.5s ease-in-out; 									/* Плавная анимация */
			-ms-overflow-style: none;                                           /* Скрытие полос прокрутки в старых версиях Internet Explorer и Edge */
			overflow-y: auto;                                                   /* Добавление вертикальной прокрутки, если контент выходит за пределы */
			scrollbar-width: auto; 												/* Можно заменить на auto или none */
			scroll-behavior: smooth;											/* Плавная прокрутка */
			scrollbar-color: red rgba(255, 255, 255, 0.8); 				  /* Ползунок и трек */
			-webkit-overflow-scrolling: touch;									/* Включает плавную инерционную прокрутку на мобильных устройствах (iOS Safari) */
		}

		.news-container.expanded {
			height: auto; 														/* Автоматическая высота */
			min-height: 75%;                                                    /* Минимальная высота контейнера */
			max-height: none; 													/* Снимаем ограничение по высоте */
			overflow-y: auto; 													/* Добавляем вертикальную прокрутку, если контент превышает высоту */
		}

		.news-container::-webkit-scrollbar {
		    display: none;                                                      /* Изначально скрываем полосу прокрутки в Webkit-браузерах (Chrome, Safari) */
		}

		.news-container:hover::-webkit-scrollbar {
		    display: block;                                                     /* Показать полосу прокрутки при наведении на контейнер */
		}

		.news-container:hover {
		    scrollbar-width: auto;                                              /* Для Firefox: показываем тонкую полосу прокрутки при наведении */
		}

		.news-item {
		    display: flex;                                                      /* Включаем flexbox для более гибкого расположения элементов внутри новости */
		    flex-direction: column;                                             /* Устанавливаем направление элементов по вертикали (сверху вниз) */
		    width: 100%;                                                        /* Ширина элемента новости будет занимать 100% ширины родительского контейнера */
		    border-bottom: 1px solid #ccc;                                    /* Нижняя граница для отделения новости от следующей */
		    padding: 10px 0;                                                    /* Отступы сверху и снизу в новостном элементе */
		    align-items: flex-start;                                            /* Переопределяем выравнивание элементов по левому краю (это нужно для текстов и изображений) */
		}


		.news-item:last-child {
		    border-bottom: none;                                               	/* Убираем нижнюю границу у последнего элемента */
		}

		.news-title {
		    font-size: 18px;                                                    /* Размер шрифта для заголовка новости */
		    font-weight: bold;                                                  /* Жирный шрифт для заголовка */
		}

		.news-date {
		    font-size: 12px;                                                    /* Размер шрифта для даты */
		    color: #999;                                                      /* Цвет текста для даты (серый) */
		}

		.news-content {
		    margin-top: 5px;                                                    /* Отступ сверху для контента новости */
		}

		.news-link {
		    text-decoration: none;                                              /* Убираем подчеркивание с ссылок */
		    color: inherit;                                                     /* Наследуем цвет текста от родителя */
		}

		.news-link:hover .news-title {
		    text-decoration: underline;                                         /* Подчеркивание заголовка при наведении на ссылку */
		    color: #f47059;                                                   /* Красный цвет заголовка при наведении */
		}

		.news-image {
		    max-width: 100%;                                                    /* Максимальная ширина изображения (по ширине контейнера) */
		    height: auto;                                                       /* Автоматическая высота изображения для сохранения пропорций */
		    margin: 0 auto 15px;                                                /* Центрирование изображения и отступ снизу */
		    border-radius: 8px;                                                 /* Скругленные углы изображения */
		}

