		.ad-banner {
                    width: 350px;
                    height: 350px;
                    border: 1px solid #ccc;
                    overflow: hidden;
                    position: relative;
                    background-color: #f9f9f9;                                          /* Фон баннера */
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);                           /* Тень баннера */
                    border-radius: 8px;                                                 /* Скругленные углы */
                    transition: transform 0.3s;                                         /* Анимация при наведении */
                }

                .ad-banner:hover {
                    transform: scale(1.1);                                              /* Увеличение при наведении */
                }

                .ad-banner iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 300%;
                    height: 300%;
                    transform: scale(0.33);                                             /* Масштабирование содержимого */
                    transform-origin: 0 0;                                              /* Точка начала масштабирования */
                    border: none;
                    z-index: 1;                                                         /* Убедитесь, что iframe находится ниже кнопок */
                }

                .ad-banner a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                }

                .ad-banner img {
                    z-index: 1;
                }

                .ad-button {
                    padding: 5px 10px;
                    font-size: 14px;
                    color: white;
                    background-color: #000;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    position: absolute;
                    bottom: 10px;
                    transform: translateX(-50%);
                    pointer-events: auto;
                    z-index: 10;
                }		

		.ad-button:hover {
                    background-color: #555;                                             /* Более светлый цвет при наведении */
                }

                .close-banner-ad-button {
                    padding: 2px 5px;
                    font-size: 12px;
                    color: white;
                    background-color: #000;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 16px;
                    z-index: 10;
                    pointer-events: auto;
                }

                .close-banner-ad-button:hover {
                    background-color: #555;                                             /* Более светлый цвет при наведении */
                }

                .full-version-link {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    padding: 2px 5px;
                    border-radius: 3px;
                    text-decoration: none;
                    font-size: 10px;
                    z-index: 10;                                                        /* Убедимся, что кнопка находится выше iframe */
                    width: 80px;                                                        /* Фиксированная ширина */
                    height: 20px;                                                       /* Фиксированная высота */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .full-version-link:hover {
                    background-color: rgba(0, 0, 0, 0.7);                               /* Изменение фона при наведении */
                }
