		.container {
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.6);                         /* Полупрозрачный фон для читаемости */
                    border-radius: 10px;                                                /* Радиус границы */
                    padding: 3%;                                                        /* Отступы внутри контейнера */
                    position: relative;                                                 /* Относительное позиционирование */
                    align-self: center;
                    margin-top: 5%;                                                     /* Добавляем отступ сверху */
                    margin-bottom: 5%;                                                  /* Отступ снизу */
                    width: auto;
                    height: auto;
                }

                .logo {
                    width: 65px;
                    height: auto;
                    vertical-align: middle;
                }

                .search-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .gcse-searchbox-only {
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                }

                .gsc-search-button.gsc-search-button-v2 {
                    transition: transform 0.3s ease, color 0.3s ease;                   /* Плавный переход при наведении на кнопку (плавное изменение цвета и размера кнопки) */
                }

                .gsc-search-button.gsc-search-button-v2:hover {
                    transform: scale(1.2);                                              /* Увеличение кнопки при наведении */
                    background-color: #666666;                                          /* Цвет фона */
                }

		input, textarea, select, button {         				/* Стили для полей ввода и текстовых областей */
                    margin-bottom: 0px;                  				/* Отступ снизу */
                }
