.container {
	text-align: center;                                                     /* Центрирование содержимого внутри контейнера */
	background-color: rgba(255, 255, 255, 0.6);                             /* Полупрозрачный фон для читаемости */
	border-radius: 10px;                                                    /* Радиус границы (округление углов) */
	padding: 3%;                                                            /* Отступы внутри контейнера */
	position: relative;                                                     /* Относительное позиционирование для дальнейшего использования */
	align-self: center;                                                     /* Центрирование контейнера по вертикали, если он находится в flex-контейнере */
	margin-top: 3%;                                                         /* Добавляем отступ сверху */
	margin-bottom: 3%;                                                      /* Отступ снизу */
	width: auto;                                                            /* Ширина автоматически определяется содержимым */
	height: auto;                                                           /* Высота автоматически определяется содержимым */
}

.logo {
	width: 65px;                                                            /* Задаем фиксированную ширину логотипа */
	height: auto;                                                           /* Высота автоматически пропорциональна ширине */
	vertical-align: middle;                                                 /* Выравнивание по вертикали с учетом строки */
}

.main-search-container {
	display: flex;                                                          /* Используем flexbox для выравнивания элементов внутри контейнера */
	align-items: center;                                                    /* Вертикальное выравнивание элементов по центру */
	justify-content: center;                                                /* Горизонтальное выравнивание элементов по центру */
}

.gcse-searchbox-only {
	display: inline-block;                                                  /* Отображение как инлайн-блока */
	vertical-align: middle;                                                 /* Выравнивание по вертикали */
	position: relative;                                                     /* Относительное позиционирование для дальнейшего использования */
}

.gsc-search-button.gsc-search-button-v2 {
	transition: transform 0.3s ease, color 0.3s ease;                        /* Плавный переход при наведении на кнопку (плавное изменение цвета и размера кнопки) */
}

.gsc-search-button.gsc-search-button-v2:hover {
	transform: scale(1.2);                                                  /* Увеличение кнопки при наведении */
	background-color: #666666;                                              /* Цвет фона при наведении */
}

input, textarea, select, button {                                          /* Стили для полей ввода и текстовых областей */
	margin-bottom: 0px;                                                    /* Убираем отступ снизу у всех элементов ввода */
}