		html, body {
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    width: 100%;
                    font-family: Arial, sans-serif;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    overflow: auto; 							/* Включаем прокрутку */
                    -ms-overflow-style: none;  						/* для Internet Explorer и Edge */
                    scrollbar-width: thin;  						/* для Firefox */
                    box-sizing: border-box;
                }

                body::-webkit-scrollbar {
                    width: 12px;                                        		/* Устанавливаем ширину полосы прокрутки */
                }

                body::-webkit-scrollbar-track {
                    background: #f1f1f1;                                		/* Цвет фона трека */
                }

                body::-webkit-scrollbar-thumb {
                    background: #888;                                   		/* Цвет полосы прокрутки */
                }

                body:hover::-webkit-scrollbar-thumb {
                    background: #555;                                   		/* Цвет полосы прокрутки при наведении */
                }

		.puzzle-piece {
                    position: absolute;
                    background-size: cover;
                    background-position: center;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    z-index: -1; 							/* Устанавливаем z-index ниже остальных элементов */
                }

                .menu-button {
                    position: fixed;
                    top: 10px;
                    right: 10px;
                    background-color: rgba(255, 255, 255, 0.9);
                    color: #fff;
                    padding: 10px;
                    cursor: pointer;
                    border: none;
                    font-size: 24px;
                    font-weight: bold; 							/* Толстый текст */
                    border-radius: 10px;
                    transition: width 0.3s;
                    z-index: 10000; 							/* Высокий z-index для отображения поверх всех элементов */
                }

                .menu-button span.s {
                    color: red;
                }

                .menu-button span.n {
                    color: black;
                }

                .menu-container {
                    display: none;
                    position: fixed;
                    top: 50px;
                    right: 10px;
                    background-color: rgba(255, 255, 255, 0.8);
                    border: 1px solid #ccc;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    padding: 10px;
                    z-index: 10000; 							/* Высокий z-index для отображения поверх всех элементов */
                    border-radius: 10px;
                }
		
		.menu-container a {
                    display: block;
                    padding: 10px;
                    color: #333;
                    text-decoration: none;
                    border-radius: 5px;
                    font-weight: bold; 							/* Толстый текст */
                }

                .menu-container a:hover {
                    background-color: #f0f0f0;
                }

                .submenu-container {
                    display: none;
                    padding-left: 20px;
                }

                .icon {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    vertical-align: middle;
                    border-radius: 50%; 						/* Делает изображения круглымы */
                }

                h1 {
                    text-align: center;
                    font-size: 20px;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
                }

		.news-container {
                    margin-top: 1%; 							/* Отступ сверху */
                    width: 90%;
                    min-height: 33%;
                    max-height: 50%;
                    height: auto;
                    text-align: justify;
                    overflow-y: auto; 							/* Вертикальная прокрутка */
                    position: relative;
                    background-color: rgba(255, 255, 255, 0.8); 			/* Полупрозрачный фон для читаемо> */                    
		    border-radius: 10px; 						/* Радиус границы */
                    padding: 3%; 							/* Отступы внутри контейнера */
                    -ms-overflow-style: none;  						/* для Internet Explorer и Edge */
                    scrollbar-width: thin;  						/* для Firefox */
                }

                .news-container::-webkit-scrollbar {
                    display: none;  							/* Изначально скрываем прокрутку */
                }

                .news-container:hover::-webkit-scrollbar {
                    display: block;  							/* Показать прокрутку при наведении */
                }

                .news-container:hover {
                    scrollbar-width: thin;  						/* Для Firefox */
                }

                .news-item {
                    border-bottom: 1px solid #ccc;
                    padding: 10px 0;
                }

                .news-item:last-child {
                    border-bottom: none;
                }

                .news-title {
                    font-size: 18px;
                    font-weight: bold;
                }

                .news-date {
                    font-size: 12px;
                    color: #999;
                }

                .news-content {
                    margin-top: 5px;
                }

                .news-link {
                    text-decoration: none;
                    color: inherit;
                }

		.news-link:hover .news-title {
                    text-decoration: underline;
                    color: red;
                }

                .container {
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.6); 			/* Полупрозрачный фон для читаемо> */                    
		    border-radius: 10px; 						/* Радиус границы */
                    padding: 3%; 							/* Отступы внутри контейнера */
                    position: relative; 						/* Относительное позиционирование */
                    align-self: center;
                    margin-top: 5%; 							/* Добавляем отступ сверху */
                    margin-bottom: 5%; 							/* Отступ снизу */
                    width: auto;
                    height: auto;
                }

                .logo {
                    width: 65px;
                    height: auto;
                    vertical-align: middle;
                }

                .search-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .gcse-searchbox-only {
		    display: inline-block;
		    vertical-align: middle;
		    position: relative;
		}

                .gsc-search-button.gsc-search-button-v2 {
                    transition: transform 0.3s ease, color 0.3s ease; 			/* Плавный переход */
                }

                .gsc-search-button.gsc-search-button-v2:hover {
                    transform: scale(1.2); 						/* Увеличение кнопки при наведении */
                }

		.ad-container {
                    display: flex;
                    justify-content: center; 						/* Выравнивание по горизонтали */
                    align-items: center; 						/* Выравнивание по вертикали */
                    flex-wrap: wrap; 							/* Чтобы элементы переносились на новую строку при необходим> */                    
		    position: relative; 						/* Относительное позиционирование */
                    width: 90%;
                    height: auto;
                    max-height: 20%;
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.0); 			/* Полупрозрачный фон для читаемо> */                    
		    border-radius: 10px; 						/* Радиус границы */
                    padding: 3%; 							/* Отступы внутри контейнера */
                    margin-bottom: 1%; 							/* Отступ снизу */
                    overflow: visible;
                    gap: 10px; 								/* Расстояние между баннерами */
                }

               .ad-banner {
                    width: 350px;
                    height: 350px;
                    border: 1px solid #ccc;
                    overflow: hidden;
                    position: relative;
                    background-color: #f9f9f9; 						/* Фон баннера */
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 				/* Тень баннера */
                    border-radius: 8px; 						/* Скругленные углы */
                    transition: transform 0.3s; 					/* Анимация при наведении */
                }

                .ad-banner:hover {
                    transform: scale(1.1); 						/* Увеличение при наведении */
                }

                .ad-banner iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 300%;
                    height: 300%;
                    transform: scale(0.33); 						/* Масштабирование содержимого */
                    transform-origin: 0 0; 						/* Точка начала масштабирования */
                    border: none;
                    z-index: 1; 							/* Убедитесь, что iframe находится ниже кнопок */
                }

		.ad-banner a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                }

                .ad-banner img {
                    z-index: 1;
                }

                .ad-button {
                    padding: 5px 10px;
                    font-size: 14px;
                    color: white;
                    background-color: #000;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    position: absolute;
                    bottom: 10px;
                    transform: translateX(-50%);
                    pointer-events: auto;
                    z-index: 10;
                }

                .ad-button:hover {
                    background-color: #555; 						/* Более светлый цвет при наведении */
                }

                .close-banner-ad-button {
                    padding: 2px 5px;
                    font-size: 12px;
                    color: white;
                    background-color: #000;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 16px;
                    z-index: 10;
                    pointer-events: auto;
                }
		
		.close-banner-ad-button:hover {
                    background-color: #555; 						/* Более светлый цвет при наведении */
                }

                .full-version-link {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    padding: 2px 5px;
                    border-radius: 3px;
                    text-decoration: none;
                    font-size: 10px;
                    z-index: 10; 							/* Убедимся, что кнопка находится выше iframe */
                    width: 80px; 							/* Фиксированная ширина */
                    height: 20px; 							/* Фиксированная высота */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .full-version-link:hover {
                    background-color: rgba(0, 0, 0, 0.7); 				/* Изменение фона при наведении */
                }

		.cookie-consent {							/* Стили кук */
		    display: none; 							/* Скрываем элемент по умолчанию */
		    position: fixed;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    background-color: rgba(0, 0, 0, 0.7);				/* Полупрозрачный черный фон */
		    color: white;
		    text-align: center;
		    padding: 0.5%;
		    z-index: 1000;
		}

		.cookie-consent p {
		    font-size: 12px; 							/* Увеличенный размер шрифта */
		}


		.cookie-button {							/* Стили кнопки кук */
		    background-color: #4CAF50;
		    color: white;
		    border: none;
		    font-size: 12px; 							/* Увеличиваем размер шрифта до 18 пикселей */
		    padding: 10px 20px;
		    margin: 10px auto;							/* Центрирование кнопки по горизонтали */
		    cursor: pointer;
		    border-radius: 8px; 						/* Скругленные углы */
		}


                .donation-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(145deg, #ff0000, #333333);
                    border: none;
                    color: white;
                    padding: 3px 7px;
                    font-size: 6px;
                    font-weight: bold;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                    overflow: hidden;
                    box-shadow: inset 5px 5px 15px rgba(139, 0, 0, 0.7), inset -5px -5px 15px rgb>                    width: 30px;
                    height: 30px;
                    text-align: center;
                    text-decoration: none;
                    opacity: 0.7;
                    animation: pulse 1s infinite;
                }

		.donation-button:hover {
                    width: 130px;
                    height: 50px;
                    padding: 10px 20px;
                    font-size: 14px;
                    border-radius: 25px;
                    opacity: 1;
                    background: linear-gradient(145deg, #ff0000, #333333);
                    box-shadow: inset 5px 5px 15px rgba(139, 0, 0, 0.7), inset -5px -5px 15px rgb>                    color: #ffffff;
                }

                .donation-button::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 300%;
                    height: 300%;
                    background: rgba(255, 255, 255, 0.15);
                    transition: all 0.5s ease;
                    border-radius: 50%;
                    transform: translate(-50%, -50%) scale(0);
                }

                .donation-button:hover::before {
                    transform: translate(-50%, -50%) scale(1);
                }

                .donation-button:active {
                    transform: scale(0.95);
                    box-shadow: inset 5px 5px 15px rgba(139, 0, 0, 0.7), inset -5px -5px 15px rgb>                }

                .donation-button::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 2px solid rgba(255, 255, 255, 0.5);
                    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
                    animation: glow 1s infinite;
                }

		.install-instructions {
                  display: none; 							/* Скрываем инструкцию установки pwa-приложения по умолчанию */
                  position: fixed;
                  top: 20px;
                  left: 50%;
                  transform: translateX(-50%);
                  background-color: #fff;
                  border: 1px solid #ccc;
                  padding: 10px;
                  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                  border-radius: 5px;
                  width: 70%;
                  z-index: 10001;
                }

                .install-instructions p {
                  margin: 0 0 10px 0;
                }

                .install-instructions ol {
                  padding-left: 20px;
                  margin: 0;
                }

                @keyframes pulse {
                    0% {
                        transform: scale(1);
                        opacity: 1;
                    }
                    50% {
                        transform: scale(1.2);
                        opacity: 0.7;
                    }
                    100% {
                        transform: scale(1);
                        opacity: 1;
                    }
                }

                @keyframes glow {
                    0% {
                        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
                    }
                    50% {
                        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
                    }
                    100% {
                        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
                    }
                }

		/* Медиазапрос для мобильных устройств */
                @media (max-width: 600px) {
                    .news-container {
                        margin-top: 16%; /* Отступ сверху */
                    }
                }
