<!doctype html>                                                                                                                                                                              {# Тип документа HTML5 #}
<html lang="{{ locale }}" {% if dir %}dir="{{ dir }}"{% endif %}>                                                                                                                        {# Устанавливаем язык и направление текста #}
  <head>                                                                                                                                                                                    {# Голова документа: мета/линки/OG #}
    {% include "partials/head.njk" %}                                                                                                                                                      {# Подключаем общую секцию <head> #}
  </head>                                                                                                                                                                                   {# Конец головы #}
  <body>                                                                                                                                                                                    {# Тело страницы #}
    {% include "partials/header.njk" %}                                                                                                                                                    {# Верхний блок с заголовком/подзаголовком #}
    <main>                                                                                                                                                                                  {# Основной контент страницы #}
      {{ content | safe }}                                                                                                                                                                   {# Вставка разметки страницы #}
    </main>                                                                                                                                                                                 {# Конец main #}
    {% include "partials/footer.njk" %}                                                                                                                                                    {# Футер и cookie‑уведомление #}
    {% include "partials/scripts.njk" %}                                                                                                                                                   {# Подключение общих скриптов #}
  </body>                                                                                                                                                                                   {# Конец body #}
</html>                                                                                                                                                                                     {# Конец HTML #}
